/* General styles for containers */
.loading-container {
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
