
#cast-bar-container {
    width: 300px;
    height: 20px;
    background-color: #333;
    border: 2px solid #222;
    border-radius: 5px;
    position: absolute;
    bottom: 120px; /* Place above the skill bar */
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden; /* Hidden by default */
    overflow: hidden;
}

#cast-bar-progress {
    width: 0;
    height: 100%;
    background-color: #FFD700;
    transition: width 0.1s linear;
}