/* General styles for containers */
.interface-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.bar-container {
    position: relative;
    width: 150px;
    height: 20px;
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
}

/* Specific styles for HP bar */
.hp-bar-container {
    top: 100px;
    left: 20px;
    background-color: red;
}

/* Specific styles for Mana bar */
.mana-bar-container {
    top: 105px;
    left: 20px;
    background-color: gray;
}

/* General styles for the fill elements */
.bar-fill {
    height: 100%;
}

/* Specific styles for HP fill */
.hp-bar-fill {
    background-color: #00FF00;
}

/* Specific styles for Mana fill */
.mana-bar-fill {
    background-color: #0000FF;
}

/* Styles for the skills bar */
#skills-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
}

/*TODO move from game*/
.name-label {
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    border-radius: 3px;
}

.damage-label {
    color: #fff;
    background: rgba(255, 0, 0, 0.7);
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    pointer-events: none;
}

.damage-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}