/* General styles for containers */
.interface-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Styles for the skills bar */
#skills-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
}

/*TODO move from game*/
.name-label {
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    border-radius: 3px;
}


.damage-label {
    color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: 800;
    font-size: 24px;
    pointer-events: none;
    display: flex;
    align-items: center;
    gap: 4px;
    animation: floatFade 1s ease-out forwards;
}


.damage-icon {
    width: 24px;
    height: 24px;
}


#selfDamage .damage-icon {
    width: 32px;
    height: 32px;
}

.damage-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#selfDamage {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    z-index: 1000;
}

#selfDamage .damage-label {
    font-size: 32px;
}

#targetPanel {
    position: absolute;
    top: 24px;
    left: 180px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #fff;
    z-index: 1000;
}


@keyframes floatFade {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}